<section class="one-year">
  <header class="header">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5shQSAr34JZE03N4YtlMIX?utm_source=generator&theme=0" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </header>

  <main class="principal-field">

    <app-story-carousel></app-story-carousel>


    <h3 class="h3-principal-field">
      <img src="assets/svg/purple-heart-svgrepo-com.svg" alt="Coração Roxo">
      Você é meu porto seguro há:
    </h3>
    <p>{{years}} anos, {{days}} dias, {{hours}}, horas, {{minutes}} minutos e {{seconds}} segundos.</p>

    <div>
      <svg class="white-line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 2" preserveAspectRatio="none">
        <rect width="1000" height="2" fill="white" />
      </svg>
    </div>

    <div class="paragrafo">
      <p>Como prometido, eu te entreguei os 32 motivos para te amar, quase depois de 32 anos. Pode ser que seu namorado seja exagerado, mas, a cada dia que passa,
        percebo que 32 motivos são poucos.
        Tive que me segurar para não ultrapassar esse número e escrever, a cada dia que a gente se encontrasse, um novo motivo.
        Porque, sinceramente, todos os dias você me dá um motivo novo para te amar.
        Seja pelo jeito que me olha quando acha que eu não estou percebendo, pelo carinho inesperado no meio de um dia cansativo ou simplesmente pela sua presença,
        que transforma qualquer momento comum em algo especial. Cada beijo e cada abraço me fazem sentir mais completo e amado por você.
        Me fazem sentir que estou exatamente onde devo estar. Você não só complementa a minha vida, como a torna mais leve, mais doce e mais cheia de sentido.
        Tudo ao seu lado se torna mais bonito e significativo. Você é a melhor parte dos meus dias e a razão pela qual eu me sinto em casa, não importa onde estejamos. A gente se conhece há tanto tempo que chega a ser estranho comemorarmos apenas um ano de namoro. Mas posso dizer que, depois de 365 dias oficialmente namorando você, fiz a escolha certa ao ficar ao seu lado desde 2016. Por isso essa contagem ali em cima: para mostrar há quanto tempo eu te amo e para lembrar que, independentemente do tempo que passe, meu amor por você só cresce. E vai continuar crescendo, porque te amar é a coisa mais natural do mundo para mim.
      </p>
    </div>

  </main>

</section>


